
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Recipe List</h2>
    </div>
    <div class="panel-body">
        <div class="row" >
        <div class="card col-md-4 col-sm-6 col-12" style="width: 18rem; padding: 2px; margin: px" *ngFor="let r of recipes">
            
            <img class="card-img-top" src={{r.image}} width="50%" height="200"alt="Cardimage">
            <div class="card-body">
                <h5 class="card-title">{{r.name}}</h5>
                <p class="card-text">{{r.description}}</p>

              <button (click)="deleteRecipe(r.id)" class="btn btn-danger">Delete</button> 
            <button (click)="updateRecipe(r.id)" class="btn btn-info" style="margin-left: 10px">Update</button> 
            <button (click)="recipeDetails(r.id)" class="btn btn-info" style="margin-left: 10px">Details</button>

     
            </div>
        </div>
    
    </div></div>
  </div>